# Ignore node_modules (dependencies)
node_modules/  

# Ignore environment variables
.env  

# Ignore logs
logs/  
*.log  

# Ignore Docker build files
docker-compose.override.yml  

# Ignore system files (Mac & Windows)
.DS_Store  
Thumbs.db  
